#root{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.parent{
    height: 100vh;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background: white;  
    z-index: 10;
    padding: 10px 0;  
}
.logo{
    width: 13vw;
}
.menu{
    display: flex;
    gap: 20px;
}
.menu a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.menu a:hover{
    color: orange;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    flex: 1; 
    overflow-y: auto;   
    padding-top: 20px;  
    padding-bottom: 100px;
    
}

.laptop{
    border: 1px solid gray;
    padding: 20px;
    border-radius: 30px;
} 

.laptop:hover{
    border: 5px solid darkcyan;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;            /* adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color: gray;
    border-top: 1px solid #ccc;
    z-index: 10;
}