body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.parent{
    height: 100%;
}
.header{
    height: 15vh;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 10vw;
}
.search_input{
    width: 300px;
    height: 30px;
    
    border-radius: 30px;
    outline: none;
}
.search_input::placeholder{
    color: lightsalmon;
    font-size: 10px;
    font-weight: bold;
    font-style: italic;
}
.menu{
    display: flex;
    gap: 20px;
    margin-right: 20px;
}
.menu a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.menu a:hover{
    color: orange;
}
.main{
    height: 75vh;
    
    display: flex;
}
.image{
    flex: 1;
    
    background-image: url("./laptop.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
}
.text{
    flex: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text_1{
    font-size: 3vw;
}
[class^="text_"]:not(.text_1){
    font-size: 1.5vw;
}

.footer{
    height: 10vh;
    
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    align-items: center;
    
}
.footer i{
    margin-right: 50px;
    font-size: 30px;
    color: orange;
}

@media(max-width:600px){
    .header{
        justify-content: center;
    }
    .logo{
        width: 20vw;
    }
    .search_input{
        display: none;
    }
    .menu{
        display: none;
    }
    .main{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .image{
        margin-top: 20px;
        width: 160px;
        height: 240px;
        border-radius: 100%;
        
    }
    .text{

    }
    [class^="text_"]:not(.text_1){
        display: none;
    }
}